.edu-experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.edu-experience-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading {
  font-weight: bolder;
}

.job-enter {
  opacity: 0.01;
}

.job-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.job-exit {
  opacity: 1;
}

.job-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
